.admin-title {
  text-align: center;
  padding-top: 50px;
  color: white;
}

.admin-body {
  height: 100%;
  width: 50%;
  background-color: #060606;
}

.table-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.brand {
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.deliver-border-table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.border-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.deliver-border-table th,
.deliver-border-table td {
  padding: 8px;
  text-align: left;
}
.border-table th,
.border-table td {
  padding: 8px;
  text-align: left;
}

.border-table th {
  background-color: #f2f2f2;
}

.border-table td {
  color: white;
}
.deliver-border-table th {
  background-color: #f2f2f2;
}

.deliver-border-table td {
  color: white;
  font-size: medium;
}
.delete-button {
  background-color: #ff0000;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}
.deliver-deletebutton{
  background-color: #ff0000;
  border-radius: 10px;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
.deliver-delete-button:hover {
  background-color: #cc0000;
}