.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    gap:30px;
    
    
    
  }
   /*body of two forms*/
  .form-container {
    width:50%;/* Adjust the width as needed */
    margin-bottom: 20px;
    background: white;
    padding: 5px 25px;
    box-shadow: 3px 10px 20px rgba(0,0,0,.1);
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  
  }
  
  input[type="text"],
  textarea {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 80px;
  }
  
  
  .enabled-button {
    background-color: #ffc107;
    color: white;
    border: #ffc107;
    width: 200px;
    padding: 10px;
    font-size: 17px;
    
    margin-top: 5px;
    cursor: pointer;
  }
  
  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #f5ca46;
    color: #fff;
    text-align: center;
    padding: 14px 28px;
    border-radius:15px;
    width: 500px;
    height:200px ;
    
    
    
  }
  
  .popup p {
    margin-top:60px;
    margin-bottom: 10px;
    font-size:40px;
  }
  
  .popup button {
    background-color: #81681f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #45a049;
  }
  /*body of card details and upi details*/
  .pay{
    margin-top:-20px;
    width: 9cm;
    box-shadow: 1px 2px 6px 5px rgb(0, 0,0,.1);
    padding-left:10px;
    padding-right:3px;
    margin-bottom:20px;
  }
  .flex{
    display: flex;
    gap:15px;
  }
  #cardName{
    width: 8.3cm;
  }
  #upiId{
    width:7opx;
    height:3px;
  }
  #upiMethod{
    width:7opx;
    height:25px;
  }
  /*HEADING-Delivery address,mode of payment*/
  h2{
    background-color:#ffc107;
    border-radius:50px 20px;
    padding:10px;
    
  }
  
  .overlay {
    
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
    
    
    background: rgba(49,49,49,0.8);
  }
  /*CARD,UPI,COD*/
  .radio-option{ 
    background-color: #fdd087;
    width:5cm;
    padding:5px 20px 15px ;
    text-align: center;
    border-radius:4px;
    margin-top:-27px;
  }
  .back-btn{
  
   background-color: #ffc107;
   border:2px solid #ffc107;
   padding:10px;
   border-radius:4px;
   margin-left: 1px;
   margin-top:0cm;
  }