
body {
    overflow: hidden;
  }
  
  .login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
  
  .auth-form-container {
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 350px;
    transform: translate(-50%, -50%);
    z-index: 10000;
  }
  
  .auth-form-container::-webkit-scrollbar {
    display: none;
    width: 5px; 
    background-color: #F5F5F5; 
    height: 10px;
    } 




  .auth-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .auth-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fffcfc;
    font-size: 20px;
  }
  
  .login-form label, .register-form label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .login-form input, .register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #fdf7f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    
    color: #080808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    
  }
  .btn:hover{
    background-color: yellow;
  }
  
 
  
  .google_login {
    margin-top: 20px;
    text-align: center;
  }
  
  .google_login button {
    background-color: #0b0b0b;
    border: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    margin-top: 10px;
    align-self: center;
  }
  
  .google_login img {
    width: 200px;
    height: auto;
  }
  .google-login-btn {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .close-button a{
    position: absolute;
    top: 10px;
    right: 10px;
    /* width: 60px; */
    height: 60px;
    cursor: pointer;
    background:  no-repeat center center;
    background-size: cover;
    color: #fffefe;
    font-size: 25px;

  }
  
  .close-button:hover {
    opacity: 0.8;
  }
  
  .toggle-button{
    width: 100%;
    padding: 10px;
    background-color: #fdf7f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    padding-top: 5px;
    color: #080808;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;

  }
  .toggle-button:hover{
    background-color: yellow;
  }