.profile-page {
  /* position: relative; */
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border: 2px solid red;
  border-radius: 5px;
margin-top: 100px;
  left: 38%;
  top: 200px;
}

  
  .profile-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-page label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .profile-page input[type="text"],
  .profile-page input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .profile-page button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-page button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
    