.box-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-ctn {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.stars-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}

.star.filled {
  color: orange;
}

.u-review{
  width: 310px;
  height: 100px;
  
  
}

.s-btn{
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.i-tag[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.i-tag[type="text"]:focus {
  outline: none;
  border-color: #4caf50; 
}
.titlestyle
{
  color: orange;
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.popup--visible {
  display: block;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
