.search-bar {
  text-align: center;
  margin-top: 20px;
}

.search-bar input[type="text"] {
  border-radius: 50px;
  background-color: #f0eaea;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  width: 200px;
}

.search-bar .search-button {
  border-radius: 50px;
  background-color: #f1f1f1;
  padding: 10px 20px;
  border: none;
}  
  .search-button{
    font-size: 12px;
    padding: 2px 10px;
    color: #040404;
  }
.search-button:hover{
  background-color: rgb(247, 139, 120);
}
  /* Restaurant list styles */
  .restaurant-list {
    display: flex;
    flex-wrap: wrap;
  }
  .item-list{
    display: flex;
    flex-wrap: wrap;
  }
  .search-restaurant-card {
    display: flex;
  height: 180px;
  width: 500px;
  align-items: center;
  margin: 10px;
  margin-left: 150px;
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 3px solid #e11919;
  background-color: #0e0e0e;
  cursor: pointer;
  }
  
  
  .search-restaurant-card:hover
  {
     background-color: #f6e989a2;
  }
 
  .search-restaurant-card img {
    
    width: 100px;
    height: 100px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-right: 30px; 
      }
      
  /* Selected restaurant styles */
 
  .search-items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
  }
  
 
  
  .navprevious {
    margin-top: 10px;
    top: 90px;
    left: 10px;
    background-color: #f6f0f0;
    color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navround {
    border: 2px solid #333;
  }
  
  .navprevious:hover {
    background-color: #f00f0f;
  }
  
  .navprevious.navround {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .search-item-card {
    border: 3px solid #bb1414;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
  background-color: rgb(18, 18, 17);
  overflow: hidden; 
  color: rgb(245, 242, 242);
  }
  .search-item-card:hover{
    background-color: #f6e989a2;
  }
  .search-item-card h4 {
    margin: 0;
    color: #333;
  }
  
  
  .horizontal{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .search-item-image{
    width: 100%;
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 25px;
  }

  
  .search-item-card p {
    margin: 5px 0;
    color: #444;
    margin-top: 5px;
  } 
  
.searchaddtocartbutton{
  margin-top: 5px;
  background-color: rgb(109, 239, 70);
margin-left: 80px;
   }
  .searchaddtocartbutton:hover{
    background-color: #121111;
  
}
  
.searchreviewoption {
  background-color: green;
  margin-top: 10px;
  margin-left: 50px;
  height: 35px; /* Increase the height of the button */
  width: 70px; /* Increase the width of the button */
  display: flex; /* To align the content inside the button */
  justify-content: center; /* To horizontally center the content */
  align-items: center; /* To vertically center the content */
  font-size: 15px; /* Adjust the font size to fit the content */
  border-radius: 10px;
   
}

.searchreviewoption:hover {
  background-color: red;
}


 .content{
  text-align: center;
 }

 .for-container {
  position: relative;
  height: 100vh;
}

.searchfloating-button {
 
  position: absolute;
    height: 35px;
    width: 60px;
    text-align: center;
    top: 130px;
    right: 90px;
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
  }

.searchfloating-button:hover {
  background-color: #f56868;
}
/* Checkout styles */
article{
  width: 60%;
  margin: auto;
  background-color: aliceblue;
  padding:4px;
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  border-radius:15px;
  margin-top:5px;
  
}
.search-cart_box p{
  color: black;
  font-size: large;
}
.search-cart_box img{
  width: 75px;
  height: 75px;
  border-radius:20px;
}
.search-cart_img{
  display: flex;
  width: 400px;
}
.search-cart_img p {
  font-weight: times new roman;
  margin-left: 15px;
  margin-top:10px;
  
}
.search-cart_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*border-style: solid;
  border-color:  rgb(189, 198, 201) ;
  border-radius: 10px;
  padding: 10px;*/
  margin-top: 20px;
  /*border-bottom: 2px solid rgb(189, 198, 201);
  padding-bottom: 5px;*/
}
.search-cart_box:hover{
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  cursor: pointer;
}
.search-cart_box div:nth-child(2) button{
  padding: 5px 10px;
  font-weight: bold;
  margin-right: 5px;
  background-color: rgb(231, 227, 206);
  border: 2px;
  background-color: rgb(231, 227, 206);
}
.search-cart_box div:nth-child(3) button{
  padding: 5px 10px;
  font-weight: bold;
  letter-spacing: 2px;
  border:none;
  outline: none;
  color: white;
  background-color: #ffc107;
  opacity:0.8;
  
  border-radius: 5px;
  cursor: pointer;
}
.search-cart_box div:nth-child(3) button:hover{
  background-color: rgb(236, 30, 30);
}
.search-cart_box div:nth-child(3) span{
  padding: 7px 10px;
  background-color: #ffc107 ;
  opacity:0.8;
  color:white;
  border: 1px solid rgba(247, 241, 88, 0);
  
  border-radius: 5px;
  margin-right: 10px;
}

/* ButtonStyles.css */

.proceed-to-delivery {
  background-color: orange;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
}

.proceed-to-delivery:hover {
  background-color: rgb(194, 221, 13);
}