@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,300;0,500;1,700&family=Crimson+Text:ital,wght@0,600;1,700&family=Dancing+Script:wght@400;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
   
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
    
}
body{
    background: #060606;
    overflow-x: hidden;
}
section{
    padding: 2rem 7%;
}
.header{
    border-bottom: 0.2rem solid #ffc107;
    background-color: #060606;
    height: 120px;
   
}


.header ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 7%;
    padding-left: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 110px;
    
}
.header .navbar li a{
    margin: 2px;
    font-size: 22px;
    font-weight: 300;
    padding-right: 5px;
    list-style: none;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    align-items:flex-start;
    margin-right: 50px;

}


.header .logo img{
    max-width: 500px;
    padding-right: 50px;
    align-self:flex-end;
    padding-left: 100px;
    max-height: 90px;
    align-self: flex-start;
    height: 300px;
    width: 280px;
  
}



.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
    
}
.header .navbar .li .link{
    color: white;
    font-size: 45px;
}

.header .navbar a:hover{
    color: #ffc107;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0.5rem;
    font-size: 28px;
}
.header .search input{
    width: 100px;
    padding-left: 10px;
    color: #ffc107;
    border-bottom: 0.1rem solid #fff;
    padding-bottom: 0.5rem;
    font-size: px;
}