body {
    background-color: #f2f2f2;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position:relative
  }
  
  .restaurant-name {
    font-size: 15px;
    text-align: center;
    color: #333;
    position:absolute;
    bottom:0px;
    
    

  }
  
  .review {
   
    padding: 19px;
    margin-bottom: 10px;
    
    text-align: left;
   
    
  }
  
  .response {
    font-style: italic;
    color: #888;
  }
  
  textarea {
    width: 100%;
    height: 80px;
    padding: 0px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  
  
  
  .logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    position: absolute; /* Add position absolute to the logo */
    top: 0; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
  }
  .bold-text {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: #9c0d0d;
    
  }
  
  .restaurant-reviews {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px;
  }
  .heading {
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .food-image-container {
    text-align: center;
  }
/*   
  .food-image {
    width: 500px;
    height: 270px;
    position:absolute;
    inset:0;
    margin:auto;

  } */
  .reviews-container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-left: 50px;
  }  


  .img-container{
    width:100vw;
    position: relative;
    
  }

  .bg{
    width:106%;
    height:500px;
    object-fit: cover;
  }
  .id{
    font-size: 23px;
  }

  .food-Img-Container{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:50%;
    left:60%;
    transform:translate(-50%,-50%);

  }

  .food-Img-Container .food-image{
    width:300px;

  }
  .food-image-3{
    width:159%;
    height:235px;
    
  }
  .star-image{
    position: absolute;
    top: 560px; /* Adjust the top position as needed */
    left: 71%; /* Adjust the left position as needed */
    
    
    
  }
  .star-image2{
    position: absolute;
    top: 560px; /* Adjust the top position as needed */
    left: 85%; /* Adjust the left position as needed */
  }
  .new{
    line-height: 0;
    
    color:rgb(1, 1, 2);
    font-size: 27px;
  }
  .address-name{
    color: #010101;
    size: 30px;
    line-height: 0;
    top: 50%;
    left: 30%;
    position: relative;
    font-size: 27px;
  }
  .address-name1{
    color: #9e401a;
    size: 30px;
    
    top: -100px;
    left: 70%;
    position: relative;
    font-size: 20px;
  }
  .writings1{
    
    position: absolute;
    top: 69%;
    left:77%;
    font-family:  Helvetica;
    font-weight: bold;
  }
  .writings2{
    
    position: absolute;
    top:71%;
    left:77%;
    font-family:  'Times New Roman';
    
  }
  .writings3{
    
    position: absolute;
    top: 69%;
    left:91%;
    font-family:  Helvetica;
    font-weight: bold;

  }
  .writings4{
    
    position: absolute;
    top:71%;
    left:91%;
    font-family:  'Times New Roman';
  }
  .writings5{
    position: absolute;
    top: 72%;
    left:77%;
    font-family:  Helvetica;
  }
  .writings6{
    position: absolute;
    top: 72%;
    left:91%;
    font-family:  Helvetica;
   

  }
  .text-main{
    position: absolute;
    top: 25%;
    left:0.5%;
    font-family:  Joti One;
    font-size: 37px;
    font-weight: bold;
    color: #000000;

  }
 .revImg1{
  position:absolute;
  top:97.5%;
  left:16%;

 }
 .revImg2{
  position:absolute;
  top:142%;
  left:15%;
 }
 .revImg3{
  position:absolute;
  top:186.5%;
  left:15%;
 }
 .revImg4{
  position:absolute;
  top:231%;
  left:12%;
 }
 .heads{
  line-height: 0;
  position:absolute;
  left: 22%;
  
  
 }